BOT_TOKEN=указать токена бота

SUPPORT_URL=адресс поддержки
SUPPORT_CONTACT_PHONE=+799999999911
SUPPORT_CONTACT_FIRST_NAME=Игорь
SUPPORT_CONTACT_LAST_NAME=Великий

# для скрипта с автоответчиком на новые сообщения с сслыкой на бота
TELEGRAM_API_ID=123123123
TELEGRAM_API_HASH=asdasd21dasd12
LINK_BOT=@some_super_bot
